* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.only-sp {
    display: none;
}

@media screen and (max-width: 750px) {
    .only-pc {
        display: none;
    }
    .only-sp {
        display: block;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    padding: 26px 120px;
    background: #1B1310;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    z-index: 2;
    .logo {
        font-size: 26px;
        color: #fff;
    }
    #navi {
        ul {
            display: flex;
            li {
                margin-left: 55px;
                a {
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    header {
        padding: 24px 15px;
        #hamburger {
            width: 25px;
            height: 16px;
            position: relative;
            z-index: 2;
            .hamburger_line {
                width: 100%;
                height: 2px;
                background: #fff;
                display: block;
                position: absolute;
                transition: .5s;
            }
            #line01 {
                top: 0px;
            }
            #line02 {
                top: 8px;
            }
            #line03 {
                top: 16px;
            }
            #line01.open {
                transform: rotateZ(45deg);
                top: 8px;
            }
            #line02.open {
                transform: rotateZ(-45deg);
            }
            #line03.open {
                display: none;
            }
        }
        #navi {
            opacity: 0;
            background: #1B1310;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow: hidden;
            transition: .6s;
            ul {
                display: none;
                position: relative;
                top: 40%;
                flex-direction: column;
                align-items: center;
                height: 100%;
                li {
                    margin: 0 0 50px 0;
                }
            }
        }
        #navi.open {
            opacity: 1;
            ul {
                display: flex;
            }
        }
    }

}

.kv {
    position: relative;
    h1{
        color: #fff;
        font-size: 50px;
        position: absolute;
        top: 40%;
        left: 34%;
        padding: 35px 42px;
        border: 2px solid #fff;

    }
    img {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .kv {
        h1 {
            font-size: 30px;
            padding: 30px 40px;
            top: 45%;
            left: 9%;
        }
    }
}

.content {
    width: 71.5%;
    margin: 0 auto;
    h2 {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 70px;
        text-align: center;
    }
    h3,dt {
        font-size: 24px;
        line-height: 2;
        margin-bottom: 40px;
    }
    p,dd {
        font-size: 14px;
        line-height: 2.14;
    }

    &_card {
        display: flex;
        margin-bottom: 50px;
        img {
            width: 46.6%;
        }
        dl {
            margin-right: 0;
            margin-left: 70px;
        }
        &--even {
            flex-direction: row-reverse;
            dl {
                margin-right: 70px;
                margin-left: 0;
            }
        }
    }

    .news_card {
        &--wrapper {
            display: flex;
            flex-wrap: wrap;
        }
        width: 31%;
        box-shadow: 0px 0px 6px rgba(27,19,16,.4);
        p {
            font-size: 13px;
            line-height: 1.92;
            padding: 26px 32px;
        }
    }
    .news_card:not(:nth-of-type(3n)) {
        margin-right: 34px;
    }
    .news_card:not(:nth-of-type(-n+3)) {
        margin-top: 50px;
    }
}
.content:first-of-type {
    margin-top: 100px;
}
.content:not(:first-of-type) {
    margin-top: 150px;
}

@media screen and (max-width: 750px) {
    .content {
        width: 100%;
        padding: 0 15px;
        h3,dt {
            font-size: 20px;
            line-height: 2;
            margin-bottom: 30px;
        }
        &_card {
            flex-direction: column;
            img {
                width: 100%;
                order: 2;
            }
            dl {
                margin: 0 0 40px 0;
                order: 1;
            }
        }
        .news_card {
            width: 92.8%;
            margin: 0 auto 50px;
        }
        .news_card:not(:nth-of-type(3n)) {
            margin-right: auto;
        }
        .news_card:not(:nth-of-type(-n+3)) {
            margin-top: 0px;
        }
    }
}

.faq {
    width: 48.6%;
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        line-height: 1.875;
        margin-bottom: 5px;
    }
    input,textarea {
        border: 1px solid #141414;
        width: 100%;
    }
    input {
        height: 30px;
        margin-bottom: 25px;
        &.submit {
            display: block;
            width: 33.5%;
            height: 60px;
            font-size: 20px;
            color: #fff;
            margin: 0 auto 50px;
            background: #1B1310;
            box-shadow: 0px 0px 6px #1B1310;
            border-radius: 51px;
        }
    }
    textarea {
        resize: none;
        height: 171px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 750px) {
    .faq {
        width: 100%;
        input {
            &.submit {
                width: 68%;
            }
        }
    }
}

footer {
    padding: 20px 0;
    background: #1B1310;
    text-align: center;
    small {
        font-size: 14px;
        color: #fff;
    }
}